p.SecondP {
    color: aqua;
    font-size: larger;
}
div #div2 {
    background-color: yellow;
}
p[type="text"] {
    color: brown;
}
.divClass {
    background-color: blue;
    color: azure;
}
.FirstP .SecondP .ThirdP{
    font-style: italic;
}